$font_color: #575e63;
$font_color_light: #aaaaaa;
$article_bg: #fff;

$orange: #e98010;
$yellow: #ffba39;
$dark_yellow: #f6921f;

$hilight: #c3142d; 

.hi{
    color:#c3142d;
}

.yellow{
	color: $yellow;
    
}
.dyellow{
	color: $dark_yellow;
}
