@font-face {
    
    font-family: 'helvethaica';
    src: url('helvethaica/dbhelvethaicamonx.eot'); /* IE9 Compat Modes */
    src: url('helvethaica/dbhelvethaicamonx.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('helvethaica/dbhelvethaicamonx.svg#helvethaica') format('svg'), /* Legacy iOS */
        url('helvethaica/dbhelvethaicamonx.woff') format('woff'), /* Modern Browsers */
        url('helvethaica/dbhelvethaicamonx.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;

	    
}
@font-face {
    
    font-family: 'helvethaica-bold';
    src: url('helvethaica/dbhelvethaicamonx-bold.eot'); /* IE9 Compat Modes */
    src: url('helvethaica/dbhelvethaicamonx-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('helvethaica/dbhelvethaicamonx-bold.svg#helvethaica') format('svg'), /* Legacy iOS */
        url('helvethaica/dbhelvethaicamonx-bold.woff') format('woff'), /* Modern Browsers */
        url('helvethaica/dbhelvethaicamonx-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;

        
}
@font-face {
    font-family: 'univers-bold';
    src: url('univers/univers-Bold.eot'); /* IE9 Compat Modes */
    src: url('univers/univers-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('univers/univers-Bold.svg#univers') format('svg'), /* Legacy iOS */
        url('univers/univers-Bold.woff') format('woff'), /* Modern Browsers */
        url('univers/univers-Bold.otf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'univers';
    src: url('univers/univers.eot'); /* IE9 Compat Modes */
    src: url('univers/univers.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('univers/univers.svg#univers') format('svg'), /* Legacy iOS */
        url('univers/univers.woff') format('woff'), /* Modern Browsers */
        url('univers/univers.otf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;

}