.col-1 {
  width: 8.33333% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-2 {
  width: 16.66667% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-3 {
  width: 25% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-4 {
  width: 33.33333% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-5 {
  width: 41.66667% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-6 {
  width: 50% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-7 {
  width: 58.33333% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-8 {
  width: 66.66667% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-9 {
  width: 75% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-10 {
  width: 83.33333% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-11 {
  width: 91.66667% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-12 {
  width: 100% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-offset-1 {
  margin-left: 8.33333% !important;
  padding: 0 10px; }

.col-offset-2 {
  margin-left: 16.66667% !important;
  padding: 0 10px; }

.col-offset-3 {
  margin-left: 25% !important;
  padding: 0 10px; }

.col-offset-4 {
  margin-left: 33.33333% !important;
  padding: 0 10px; }

.col-offset-5 {
  margin-left: 41.66667% !important;
  padding: 0 10px; }

.col-offset-6 {
  margin-left: 50% !important;
  padding: 0 10px; }

.col-offset-7 {
  margin-left: 58.33333% !important;
  padding: 0 10px; }

.col-offset-8 {
  margin-left: 66.66667% !important;
  padding: 0 10px; }

.col-offset-9 {
  margin-left: 75% !important;
  padding: 0 10px; }

.col-offset-10 {
  margin-left: 83.33333% !important;
  padding: 0 10px; }

.col-offset-11 {
  margin-left: 91.66667% !important;
  padding: 0 10px; }

.col-offset-12 {
  margin-left: 100% !important;
  padding: 0 10px; }

[class^="col-"] {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto; }

.row {
  display: block;
  clear: both;
  margin: 0 -15px; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

input[type='text'],
input[type='password'],
input[type='email'] {
  display: block;
  width: 100%;
  background: #ffffff;
  border: 1px solid #cccccc;
  padding: 8px;
  margin: 0;
  font-size: 13px;
  position: relative; }

textarea {
  display: block;
  width: 100%;
  background: #ffffff;
  border: 1px solid #cccccc;
  padding: 8px;
  margin: 0;
  font-size: 13px;
  position: relative; }

.inline {
  display: inline-block; }

.no-background {
  background: none !important; }

.no-margin {
  margin: 0 !important; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.left {
  text-align: left !important; }

.right {
  text-align: right !important; }

.center {
  text-align: center !important; }

.tab {
  display: none; }

.tab.active {
  display: block; }

@media (max-width: 768px) {
  .col-sm-1 {
    width: 8.33333% !important; }

  .col-sm-2 {
    width: 16.66667% !important; }

  .col-sm-3 {
    width: 25% !important; }

  .col-sm-4 {
    width: 33.33333% !important; }

  .col-sm-5 {
    width: 41.66667% !important; }

  .col-sm-6 {
    width: 50% !important; }

  .col-sm-7 {
    width: 58.33333% !important; }

  .col-sm-8 {
    width: 66.66667% !important; }

  .col-sm-9 {
    width: 75% !important; }

  .col-sm-10 {
    width: 83.33333% !important; }

  .col-sm-11 {
    width: 91.66667% !important; }

  .col-sm-12 {
    width: 100% !important; }

  .hide-mobile {
    display: none !important; } }
@media (max-width: 460px) {
  .col-xs-1 {
    width: 8.33333% !important; }

  .col-xs-2 {
    width: 16.66667% !important; }

  .col-xs-3 {
    width: 25% !important; }

  .col-xs-4 {
    width: 33.33333% !important; }

  .col-xs-5 {
    width: 41.66667% !important; }

  .col-xs-6 {
    width: 50% !important; }

  .col-xs-7 {
    width: 58.33333% !important; }

  .col-xs-8 {
    width: 66.66667% !important; }

  .col-xs-9 {
    width: 75% !important; }

  .col-xs-10 {
    width: 83.33333% !important; }

  .col-xs-11 {
    width: 91.66667% !important; }

  .col-xs-12 {
    width: 100% !important; }

  .hide-mobile {
    display: none !important; } }

/*# sourceMappingURL=_layout.css.map */
