@import "_reset.scss";
@import "_layout.scss";
@import "_color.scss";
@import "_fontface.scss";
@import "_function.scss";
@import "_button.scss";
@import "_icon.scss";
@import "_ie.scss";


strong {
    font-family: univers-bold,helvethaica;
}
body{
    font-family: univers,helvethaica;
    
}

hr{
   border: solid #dedede; 
    border-width: 1px 0 0; 
    clear: both; 
    margin: 30px 0; 
    height: 0;
}
.header-bar {

    height: 25px;
    background-color: #525d67;
    color: #ffffff;
}

.search-field {
    float: left;
    width: 200px !important;
    background-color: #8b9299 !important;
    height: 25px;
    border: none !important;
    color: #ffffff;
    padding: 2px 5px !important;
    font-size: 12px;
    display: inline-block;
    }

.btn-s {
    font-size: 110%;
    height: 25px;
    width: 35px;
    background: #c3142d;
    border: none !important;
    color: #ffffff;
    display: inline-block;
}

.head-tools {
   
    float: right;
}

.sw-lang {
    margin-left: 5px;
    float: right;
    padding-top: 2px;
}

.btn-lang {
   display: inline-block;
    height: 20px;
    width: 24px;
    font-size: 9.58px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;

    &.active{
        border: 1px solid #ffffff;
        
    }
    
}

#logo {
    float: left;
    background: url(images/logo-lux-royal.png);
    width: 116px;
    height: 74px;
}

.time-info {
    font-size: 11px;
    text-align: right;
    margin-bottom: 0px !important;
}

.information {
    float: right;
    display: inline-block;
    color: #525d67;
    font-size: 1.2em;
    strong{
        margin: 0 5px;
        display: inline-block;
        width: 125px;
        &:after{
            content: ":";
            float: right;
        }
    }
    p{
        margin-bottom: 5px;
    }
    
    span {
        float: right;
        img{
            text-align: right;
                height: 15px;
                margin-left: 5px;
            }
    }
}

.head-con {
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
}

#nav {
    height: 53px;
    background-color: #c3142d;
    color: #ffffff;
    li{
        float: left;
        height: 53px;
        padding: 0 20px;
        &.active , &:hover{
            background-color: #3b4a58;
        }
        a{
            font-size: 14px;
            line-height: 53px;
            color: #ffffff;
        }
    }
    
}

.thumb-recomend {
    overflow: hidden;
    height: 166px;
    margin-bottom: 10px;
    img{
        width: 100%;
        height: auto;
    }
}

.detail-recomend {
    position: relative;
    border-left: 4px solid #c2132c;
    height:60px;
    padding: 10px 0px 10px 10px;

    .detail-recomend-title{
        font-size: 1.3em;
        color: #473921;
    }
    .detail-recomend-dtl{
        font-size: 0.7em;
    }
}

.detail-recomend-more {
    position: absolute;
    right: 0;
    top:15px;
}

.thumb-news {
    overflow: hidden;
    max-height:370px;
    position: relative;
    img{
        width: 100%;
        height: auto;
    }
    .over-title{
        z-index: 2;
        position: absolute;
        height: 85px;
        width:100%;
        bottom: 0;
        left:0;
        padding: 20px;
        .thumb-news-title{
            font-size: 1.2em;
            color: #ffffff;
            margin-bottom: 10px;
        }
        .thumb-news-dtl{
            font-size: 1em;
            color: #ffffff;
        }
    }
    .bg-bl{
        position: absolute;
        opacity: 0.9;
        background:rgba(43, 55, 64, 0.85);
        osition: absolute;
        height: 85px;
        width:100%;
        bottom: 0;
        left:0;
    }
    .bg-rd{
        position: absolute;
        opacity: 0.9;
        background-color: rgba(196, 9, 42, 0.85);
        osition: absolute;
        height: 85px;
        width:100%;
        bottom: 0;
        left:0;
    }
}

.home-news {
    margin-top: 10px;
    
}

.home-news-top {
    margin-bottom: 20px;
    h2{
        color: #1a2b39;

    }
}

.listnews {
    margin : 0 -15px;
    li{
        margin-bottom:15px;
    }
}

#footer {

    border-top : 1px solid #EAEAEA;
    background: #f8f8f8;
    color: #5c646d;
    padding-top: 20px;
    ul ul{
        margin-top: 10px;
    }
    li a{
        color: #5c646d;
        font-size: 0.8em;
    }
}

.foot-contact-us {
    margin-top: 10px;
    font-size: 0.7em;
    font-weight: bold;
    span{
        display: inline-block;
        line-height: 1.5em;
        margin-bottom:5px;
    }
    
}

.fol {
    margin-top: 10px;
    span{
        width: 100%;
       
        font-size: 1.3em;
        text-align: left;
    }
    hr{
        margin: 5px 0px;
    }
    
}

.foot-sitemap {
    display: inline-block;
    height: 21px;
    width: 77px;
    line-height: 21px;
    border: 1px solid #28343f;
    text-align: center;
    margin-bottom: 10px;
}

.foot2 {
    margin-top: -60px;
    font-size: 0.7em;
    p{
        float: left;
        color: #717b85;
    }
    img{
        float: right;
    }
}

.footer-end {
    background: #c3142d;
    color: #ffffff;
    text-align: center;
    height: 36px;
    line-height: 36px;
    font-size: 0.8em;
}
.content{
    background: #f8f8f8;
    line-height: normal;
    color: #777777;
    font-size: 15px;
    padding-bottom: 30px;
    p{
        line-height: 150%;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    .content-nav{
        border-bottom: 1px solid #eaeaea;
        height: 84px;
        margin-bottom: 30px;
        .content-nav-title{
            line-height: 84px;
            display: inline-block;
            font-size: 25px;
            
        }
        .content-nav-menu{
            line-height: 84px;
            display: inline-block;

            li{
                float: left;
                &:last-child:after{
                    content : "";
                    margin: 0;
                }
                &:after{
                    content : "/";
                    margin: 0 10px;
                }

            }
        }
    }
    .content-news{
        border: 1px solid #eaeaea;
        padding: 50px 25px;
        background: #ffffff;
        .content-news-left {
            margin-right: -20px;
            li{
                position: relative;
                border-bottom: 1px solid #c3142d;
                padding: 20px 0 20px 50px;
                img{
                    left:0;
                    top:25px;
                    position: absolute;
                }
                .text-title{
                    font-size: 16px;
                }
            }
        }
        .content-news-right{
            border-left:1px solid #c3142d;
            padding: 0 25px;
            min-height: 400px;
            h1.text-title{
                font-size: 25px;
                margin-bottom: 20px;
            }
        }
    }
    .tag-list{
        li{
            border: 1px solid #aaaaaa;
            height: 40px;
            line-height: 40px;
            text-align: center;
            float: left;
            margin-right: 10px;
            margin-bottom: 30px;
            
            a {
                display: inline-block;
                padding: 0 15px;
            }
            &:hover a{
                color: #c3142d;

            }
            &:hover{
                border: 1px solid #c3142d;
                
            }
            
        }
    }
    .news-list{
        li{
           
            margin-bottom: 30px;
            
            .con-warp{
                height: 0;
                padding-bottom: 56%;
                position: relative;
                overflow: hidden;
            }
            img{
                width: 100%;
                height: auto;
            }
            .caption{
                cursor: pointer;
                color: #ffffff;
                position: absolute;
                padding: 20px 10px;
                bottom: 0;
                background: #333333;
                background:rgb(3,3,3);  
                background: transparent\9;  
                background:rgba(0,0,0,0.6);  
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);  
                zoom: 1;  
                width: 100%;
                
                h2{
                    font-size: 25px;
                    margin-bottom: 5px;
                }
                .dtl{
                    transition: all 0.2s;
                    margin-bottom: 10px;
                    overflow: hidden;
                    height: 0;
                    opacity: 0;
                }
          
                
                &:hover .dtl{
                    opacity: 1;
                    display: block;
                    height: 105px;
                    
                }
                
                &:hover{
                    //height: 200px;
                    
                }
            }
            &.xxx{
                .con-warp{
                    padding-bottom: 116%;
                    
                }
                
            }
    
            
        }
        
    }
    
}

.news-banner {
   background: url(images/bg-news.png) center center no-repeat;
    height: 245px;
    width: 100%;
    
}

.blog-top {
    
    .con-warp{
        height: 530px;
        margin-bottom: 30px;
        position: relative;
        
        img{
            width:100%;
            height: auto;
        }
        .caption{
            position: absolute;
            height: 151px;
            bottom: 0;
            width: 100%;
            background-color: #3b4a58;
            padding: 20px 10px;
            text-align: center;
            color: #ffffff;
            h1{
                color: #e60c35;
                font-size: 22px;
                margin-bottom: 15px;
            }
            p{
                margin-bottom: 15px;
            }
            span{
                margin-right: 50px;
            }
        }
    }
    .blog-recent{
        background-color: #3b4a58;
        padding: 30px 10px;
        
        h1{
            text-align: center;
            color: #f7274f;
            font-size: 16px;
            margin-bottom: 30px;
        }
        li{
            font-size: 12px;
            position: relative;
            padding-left: 80px;
            color: #ffffff;
            margin-bottom: 51px;
            img{
                left:0;
            
                position: absolute;
                
            }
            .title{
                color: #e60c35;
            }
        }
    }
    .blog-con{
        border: 1px solid #dadada;
        background-color:#ffffff;
        margin-bottom: 30px;
        padding: 50px;
        h1{
            font-size: 18px;
            margin-bottom: 30px;
        }
        
    }
    .blog-relate-title {
        font-size: 18px;
        margin-bottom: 30px;
    }
        
}

.blog-relate2-item {
    position: relative;
    
    .caption{
        position: absolute;
        width: 100%;
        bottom: 0;
        left:0;
        height: 35px;
        overflow: hidden;
        font-size: 12px;
        padding: 0 10px;
        line-height: 35px;
        background-color: rgba(195, 20, 45, 0.8);
        color: #ffffff;
    }
    .caption-bar{
        background: #3b4a58;
        span{
            margin-right: 5px;
            i{
               
                margin-right: 10px;
            }
        }
        span:last-child{
            float: right;
            
        }
        .sc{
            color:#e60c35;
        }
        .readmore a{
            border: 1px solid #ffffff;
            padding: 5px 2px;
        }
    }
    
}
