@import "_reset.scss";
@import "_layout.scss";
@import "_color.scss";
@import "_fontface.scss";
@import "_function.scss";
@import "_button.scss";
@import "_icon.scss";
@import "_ie.scss";


strong {
    font-family: univers-bold,helvethaica;
}
body{
    font-family: univers,helvethaica;
    
}

hr{
   border: solid #dedede; 
    border-width: 1px 0 0; 
    clear: both; 
    margin: 30px 0; 
    height: 0;
}
.header-bar {

    height: 25px;
    background-color: #525d67;
    color: #ffffff;
}

.search-field {
    float: left;
    width: 170px !important;
    background-color: #8b9299 !important;
    height: 25px;
    border: none !important;
    color: #ffffff;
    padding: 2px 5px !important;
    font-size: 12px;
    display: inline-block;
    }

.btn-s {
    font-size: 110%;
    height: 25px;
    width: 35px;
    background: #c3142d;
    border: none !important;
    color: #ffffff;
    display: inline-block;
}

.head-tools {
   
    float: right;
}

.sw-lang {
    margin-left: 5px;
    float: right;
    padding-top: 2px;
}

.btn-lang {
   display: inline-block;
    height: 20px;
    width: 24px;
    font-size: 9.58px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;

    &.active{
        border: 1px solid #ffffff;
        
    }
    
}

#logo {
    float: left;
    background: url(images/logo-lux-royal.png);
    width: 116px;
    height: 74px;
}

.time-info {
    font-size: 11px;
    text-align: right;
    margin-bottom: 0px !important;
}

.information {
    float: right;
    display: inline-block;
    color: #525d67;
    font-size: 1.2em;
    strong{
        margin: 0 5px;
        display: inline-block;
        width: 125px;
        &:after{
            content: ":";
            float: right;
        }
    }
    p{
        margin-bottom: 5px;
    }
    
    span {
        float: right;
        img{
            text-align: right;
                height: 15px;
                margin-left: 5px;
            }
    }
}

.head-con {
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
}

#nav {
    line-height: 53px;
    .menu-mobile{
        text-align: center;
        display: none;
        font-size: 13px;
    }
    height: 53px;
    background-color: #c3142d;
    color: #ffffff;
    li{
        float: left;
        height: 53px;
        padding: 0 20px;
        &.active , &:hover{
            background-color: #3b4a58;
        }
        a{
            font-size: 14px;
            color: #ffffff;
        }
    }
    
}

.thumb-recomend {
    overflow: hidden;
    height: 166px;
    margin-bottom: 10px;
    img{
        width: 100%;
        height: auto;
    }
}

.detail-recomend {
    position: relative;
    border-left: 4px solid #c2132c;
    height:60px;
    padding: 10px 0px 10px 10px;

    .detail-recomend-title{
        font-size: 1.3em;
        color: #473921;
    }
    .detail-recomend-dtl{
        font-size: 0.7em;
    }
}

.detail-recomend-more {
    position: absolute;
    right: 0;
    top:15px;
}

.thumb-news {
    overflow: hidden;
    max-height:370px;
    position: relative;
    img{
        width: 100%;
        height: auto;
    }
    .over-title{
        z-index: 2;
        position: absolute;
        height: 85px;
        width:100%;
        bottom: 0;
        left:0;
        padding: 20px;
        .thumb-news-title{
            font-size: 1.2em;
            color: #ffffff;
            margin-bottom: 10px;
        }
        .thumb-news-dtl{
            font-size: 1em;
            color: #ffffff;
        }
    }
    .bg-bl{
        position: absolute;
        opacity: 0.9;
        background:rgba(43, 55, 64, 0.85);
        osition: absolute;
        height: 85px;
        width:100%;
        bottom: 0;
        left:0;
    }
    .bg-rd{
        position: absolute;
        opacity: 0.9;
        background-color: rgba(196, 9, 42, 0.85);
        osition: absolute;
        height: 85px;
        width:100%;
        bottom: 0;
        left:0;
    }
}

.home-news {
    margin-top: 10px;
    
}

.home-news-top {
    margin-bottom: 20px;
    h2{
        color: #1a2b39;

    }
}

.listnews {
    margin : 0 -15px;
    li{
        margin-bottom:15px;
    }
}

#footer {

    border-top : 1px solid #EAEAEA;
    background: #f8f8f8;
    color: #5c646d;
    padding-top: 20px;
    ul ul{
        margin-top: 10px;
    }
    li a{
        color: #5c646d;
        font-size: 0.8em;
    }
}

.foot-contact-us {
    margin-top: 10px;
    font-size: 0.7em;
    font-weight: bold;
    span{
        display: inline-block;
        line-height: 1.5em;
        margin-bottom:5px;
    }
    
}

.fol {
    margin-top: 10px;
    span{
        width: 100%;
       
        font-size: 1.3em;
        text-align: left;
    }
    hr{
        margin: 5px 0px;
    }
    
}

.foot-sitemap {
    display: inline-block;
    height: 21px;
    width: 77px;
    line-height: 21px;
    border: 1px solid #28343f;
    text-align: center;
    margin-bottom: 10px;
}

.foot2 {
    margin-top: -60px;
    font-size: 0.7em;
    p{
        float: left;
        color: #717b85;
    }
    img{
        float: right;
    }
}

.footer-end {
    background: #c3142d;
    color: #ffffff;
    text-align: center;
    height: 36px;
    line-height: 36px;
    font-size: 0.8em;
}
.content{
    background: #f8f8f8;
    line-height: normal;
    color: #777777;
    font-size: 16px;
    padding-bottom: 30px;
    p{
        letter-spacing: 0.6px ;
        line-height: 160%;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    .content-nav{
        border-bottom: 1px solid #eaeaea;
        height: 84px;
        margin-bottom: 30px;
        .content-nav-title{
            line-height: 84px;
            display: inline-block;
            font-size: 25px;
            
        }
        .content-nav-menu{
            line-height: 84px;
            display: inline-block;

            li{
                float: left;
                &:first-child:after{
                    content : "";
                    margin: 0;
                }
                &:after{
                    content : "/";
                    margin: 0 10px;
                    float: left;
                }
                &:hover{

                    color:#4E4D4D;
                }

            }
        }
    }
    .content-news{
        border: 1px solid #eaeaea;
        padding: 50px 25px;
        background: #ffffff;
        .content-news-left {
            margin-right: -20px;
            li{
                position: relative;
                border-bottom: 1px solid #c3142d;
                padding: 20px 0 20px 50px;
                img{
                    left:0;
                    top:25px;
                    position: absolute;
                }
                .text-title{
                    font-size: 16px;
                }
            }
        }
        .content-news-right{
            border-left:1px solid #c3142d;
            padding: 0 25px;
            min-height: 400px;
            h1.text-title{
                font-size: 25px;
                margin-bottom: 20px;
            }
        }
    }
    
    .tag-list{
        li{
            border: 1px solid #aaaaaa;
            height: 40px;
            line-height: 40px;
            text-align: center;
            float: left;
            margin-right: 10px;
            margin-bottom: 30px;
            
            a {
                display: inline-block;
                padding: 0 15px;
            }
            &:hover a{
                color: #c3142d;

            }
            &:hover{
                border: 1px solid #c3142d;
                
            }
            
        }
    }
    .cat-blog{
        height: 50px;
        margin-bottom: 30px;
        line-height: 50px;
        font-size: 32px;
        color: #3b4a58;
        display: inline-block;
        margin-right: 20px;
        float: left;
    }
    
    .cat-list{
        display: inline-block;
        float: left;
        li{
            border: 1px solid #aaaaaa;
            height: 40px;
            line-height: 40px;
            text-align: center;
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
            color: #3b4a58;

            a {
                display: inline-block;
                padding: 0 15px;
            }
            &:hover a{
                color: #ffffff;
                background: #3b4a58;

            }
            &.active {
                color: #ffffff;
                background: #3b4a58;

            }
            

        }
    }
    .news-list{
        li{
            &.col-4 img{
                max-width: none;
                width: auto;
            }
            margin-bottom: 30px;
            
            .con-warp{
                height: 0;
                padding-bottom: 56%;
                position: relative;
                overflow: hidden;
            }
            img{
                width: 100%;
                height: auto;
            }
            .caption{
                cursor: pointer;
                color: #ffffff;
                position: absolute;
                padding: 20px 10px;
                bottom: 0;
                background: #333333;
                background:rgb(3,3,3);  
                background: transparent\9;  
                background:rgba(0,0,0,0.6);  
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);  
                zoom: 1;  
                width: 100%;
                
                h2{
                    font-size: 20px;
                    margin-bottom: 5px;
                }
                .dtl{
                    margin-top: 10px;
                    transition: all 0.2s;
                    margin-bottom: 10px;
                    overflow: hidden;
                    font-size: 14px;
                    height: 0;
                    opacity: 0;
                }
          
                
                &:hover .dtl{
                    opacity: 1;
                    display: block;
                    height: 105px;
                    
                }
                
                &:hover{
                    //height: 200px;
                    
                }
            }
            &.xxx{
                .con-warp{
                    padding-bottom: 116%;
                    
                }
                
            }
    
            
        }
        
    }
    
}

.news-banner {
   background: url(images/bg-news.png) center center no-repeat;
    height: 245px;
    width: 100%;
    
}

.blog-top {
    
    .con-warp{
        
        margin-bottom: 30px;
        position: relative;
        
        img{
            display: block;
            width:100%;
            height: auto;
        }
        .caption{
           
            
            bottom: 0;
            width: 100%;
            background-color: #3b4a58;
            padding: 20px 30px;
            text-align: center;
            color: #ffffff;
            h1{
                color: #e60c35;
                font-size: 22px;
                margin-bottom: 15px;
            }
            p{
                margin-bottom: 15px;
            }
            span{
                margin-right: 50px;
                i{
                    margin-right: 20px;
                }
            }
        }
    }
    .blog-recent{
        background-color: #3b4a58;
        padding: 30px 10px;
        
        h1{
            text-align: center;
            color: #f7274f;
            font-size: 16px;
            margin-bottom: 30px;
        }
        li{
            font-size: 12px;
            position: relative;
            padding-left: 80px;
            color: #ffffff;
            margin-bottom: 51px;
            img{
                left:0;
            
                position: absolute;
                
            }
            .title{
                color: #e60c35;
            }
            i{
                margin-right: 10px;
            }
        }
    }
    .blog-con{
        border: 1px solid #dadada;
        background-color:#ffffff;
        margin-bottom: 30px;
        padding: 50px;
        h1{
            font-size: 18px;
            margin-bottom: 30px;
        }

        
    }
    
        
}
.how-con{
    border: 1px solid #dadada;
    background-color:#ffffff;
    margin-bottom: 30px;
    padding: 30px 20px;
    .how-img,.how-content{
        margin: 0px -10px;
       
    }
    .how-content{
        padding: 20px;
    }
    .text-title{
        font-size: 22px;
        height: 22px;
        line-height: 22px;
        margin-bottom: 20px;
        border-left: 5px solid #f7284f;
        padding-left: 20px;
 
    }
    img{
        display: block;
    }
    p{
        font-size: 13px;
    }

}
.blog-relate-title {
    font-size: 18px;
    margin-bottom: 30px;
}
.blog-relate2-item {
    position: relative;
    max-height: 327px;
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
    }
    .caption{
        position: absolute;
        width: 100%;
        bottom: 0;
        left:0;
        height: 35px;
        overflow: hidden;
        font-size: 12px;
        padding: 0 10px;
        line-height: 35px;
        background-color: rgba(195, 20, 45, 0.8);
        color: #ffffff;
    }
    .caption-bar{
        background: #3b4a58;
        span{
            display: inline-block;
            margin-right: 5px;
            text-align: center;
            i{
               
                margin-right: 10px;
            }
        }
        span:last-child{
            float: right;
            
        }
        .sc{
            color:#e60c35;
            
        }
        .readmore 
        {
            float: right;
            a{
                border: 1px solid #ffffff;
                padding: 5px 2px;


            }
        }
    }
    
}
.blog-relate3{
    margin: 0 -10px;
}
.blog-relate3-item {
    position: relative;

    height: 0;
    padding-bottom:63.5%;
    overflow: hidden;
    background:#aaaaaa;
    margin-bottom: 30px;
    img{
        display: block;
        width: 100%;
        height: auto;
    }
    .div-hover{
        opacity: 0;
        transition: all 0.2s;
        
    }
    &:hover .div-hover{
        opacity: 1;
    }
    .content-hover{
        background: rgba(195, 20, 45, 0.8);
        position: absolute;
        width: 100%;
        bottom: 0;
        left:0;
        height: 100%;
        text-align: center;
        padding:40px 60px;
        color: #ffffff;
        h1{
            font-size: 18px;
            margin-bottom: 10px;
            height: 180px;
            overflow: hidden;
        }
        .date{
            margin-bottom: 30px;
        }
        .con{
            text-align: left;
            height: 110px;
            overflow: hidden;
        }
    
    }
    .caption{
        position: absolute;
        width: 100%;
        bottom: 0;
        left:0;
        height: 46px;
        overflow: hidden;
        font-size: 14px;
        padding: 0 10px;
        line-height: 46px;
        background-color: rgba(195, 20, 45, 0.8);
        color: #ffffff;
    }
    .caption-bar{
        background: #3b4a58;
        font-size: 14px;
        span{
            text-align: left;
            display: inline-block;
            width: 70%;
            i{
                
                margin-right: 10px;
            }
        }
        

        a.readmore 
        {
            background:#3B4A58;
           font-size: 12px;
           position: absolute;
           right: 10px;
           bottom :10px;
           height: 25px;
           line-height: 25px;
           border: 1px solid #ffffff;
           padding: 0 3px;


        }
    }

}

.blog-list-feature {
    height: 560px;
    margin: 0 -10px;
    margin-bottom: 30px;

    .image-feature{
        background:#000000;
        height: 560px;
        margin-right: -10px;
        overflow: hidden;
        img{
            height: 560px;
            max-width: none;
        }
    }
    .content-feature{
        margin-left: -10px;
        background-color: #313f4b;
        padding: 70px 50px;
        font-size: 16px;
        color: #ffffff;
        height: 560px;
        position: relative;
        .exc{
            overflow: hidden;
            height: 300px;
        }
        .bar{
            position: absolute;
            height: 44px;
            bottom:0;
            left:0;
            width: 100%;
            text-align: center;
            .bar_left{
                display: inline-block;
                background: #c3142d;
                width: 35%;
                float: left;
                height:inherit;
                line-height: 44px;
                padding:0 20px;
            }
            .bar_right{
                float: left;
                display: inline-block;
                background: #272d37;
                width: 65%;
                height:inherit;
                padding:0 20px;
                line-height: 44px;
            }
        }
        h1{
            font-size: 26px;
            color: #fd2424;
            margin-bottom: 30px;
        }
    }
}
.pd{
    .ti{
        border-bottom: 1px solid #dedede;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .pdt{
        font-size:26px;
        color: #b8142b;
    }
    .desc{
        
        background:#f3f3f3;
        padding: 70px 50px;
        margin-bottom: 30px;
        h3{
            margin-bottom: 30px;
        }
    }
    .btn-pd-demo{
        width: 225px;
        height: 60px;
        display: inline-block;
        background:url("images/btn-pd-demo.jpg");
    }
    .btn-pd-contact{
        float: right;
        width: 225px;
        height: 60px;
        display: inline-block;
        background:url("images/btn-pd-contact.jpg");
    }
    .tab{
        margin: 30px 0 50px 0;
        display: block;
        border-bottom: 2px solid #55626e;
        height: 44px;
        li{
            float: left;
            margin-right: 10px;
            background: #f0f0f0 ;
            &:hover {
                
                background:#e7e7e7;   
            }
            &.active{
                color: #ffffff;
                background:#a00c1a ;   
            }
            a{
                display: inline-block;
                
                line-height: 42px;
                padding: 0 20px;
            }
            
            
        }
    }
    .tab-content{
        list-style: none;
        .text-title{
            margin-bottom: 20px;
        }
        .con-warp{
            margin: 0 -10px;
            p{
                padding: 0 20px;
            }
            h3{
                padding: 20px 20px 0 20px;
            }
            img{
                display: block;
            }
        }
        .pdwater{
            margin-top: 30px;
            background: #f9f9f9 ;
            padding: 50px 30px;
            border: 1px solid #e5e5e5 ;
            margin-bottom: 30px;
            .pdwater-head{
                color: #ae0c2a;
                font-size: 24px;
            }
            .pdwater-list{
                margin-top: 50px;
                li{
                    float: left;
                    position: relative;
                    padding-left: 150px;
                    padding-top: 20px;
                    margin-bottom: 60px;
                }
                img{
                    top:0;
                    left: 0;
                    position: absolute;
                }
                
            }
        }
    }
    .content-detail{
        h1,h2,h3,h4,h5,h6,h7{
            color: #525d67;
            margin-bottom: 10px;
        }
    }
    
}
.faq-banner{
    height: 245px;
    width: 100%;
    background: url(images/faq-banner.png) center center no-repeat;
}
.manual-banner{
    height: 245px;
    width: 100%;
    background:url(images/manual-banner.png) center center no-repeat;
}
.howto-banner{
    height: 245px;
    width: 100%;
    background:url(images/howto-banner.png)center center no-repeat;
}

.faq-list{
    list-style-image: url(images/faq-list.png);
    
    li{
        padding-left: 20px;
        color: #3b4a58;
        padding: 20px 0 20px 20px;
        border-bottom: 1px solid #e8e8e8;
        a{
            width: 100%;
            display: inline-block;
        }
    }
    .list-well{
        margin-top: 20px;
        padding: 20px;
        background-color: #fafafa;
        border: 1px solid #e8e8e8;
        display: none;
        &.active{
            display: block;
        }
    }
    .num-list{
        display: inline-block;
        background-color: #525d67;
        height: 28px;
        width: 28px;
        line-height: 28px;
        color: #ffffff;
        text-align: center;
        margin-right: 20px;
        &.active{
            background: #c3142d;
        }
    }
    .q{
        color: #ff0000;
    }
}
.cus-menu{
    margin-top: -1px;
    background-color: #eaeef1;
    height: 59px;
    ul{
        height: 59px;
    }
    li{
        i{
            margin-left: 10px;
            display: none;
        }
        float: left;
        text-align: center;
        height: 59px;
        line-height: 59px;
        &.active{
            background-color: #525d67;
            color: #ffffff;
            i{
                display: inline-block;
            }
        }
        &:hover{
            background-color: #525d67;
            color: #ffffff;
           
        }
        a{
            display: inline-block;
            height: 59px;
            width: 100%;
        }
    }
}
.manual-list{
    margin: 0 -15px;
    li{
        
        
        .well-content{
            margin-bottom:20px;
            border: 1px solid #d9d9d9 ;
            background: #f9f9f9;
            height: 185px;
            font-size: 13px;
        }
        
        .well-left{
            float: left;
            width: 65%;
            padding: 30px;
            height: 185px;
            .text-title{
                margin-bottom: 10px;
            }
            .text-detail{
                width: 264px;
                height: 78px;
                overflow: hidden;
            }
            
        }
        .well-right{
            position: relative;
            float: left;
            width: 35%;
            padding:50px 10px 0 60px;
            height: 183px;
            background: #ffffff;
            font-size: 11px;
            img{
                position: absolute;
                left: 15px;
                top:50px;
            }
            .info,.filesize{
                color: #c3142d;
            }
            .btn-download{
                width: 111px;
                height: 24px;
                background-color: #c3142d;
                color: #ffffff;
                display: inline-block;
                line-height: 24px;
                text-align: center;
                margin-top: 30px;
                margin-left: -25px;
            }
        }
    }
}
.content-manual{
    background: #ffffff;
}

.h-content{
    height: 185px;
    position: relative;
    padding: 15px 15px 15px  180px;
    color: #747474;
    margin-bottom: 20px;
    background-color: #fcfcfc;
    border: 1px solid #e8e8e8;
    .text-title{
        margin-bottom: 10px;
    }
    img{
        position: absolute;
        top:0;
        left: 0;
        
    }
    .btn-view{
        background-color: #c3142d;
        width: 111px;
        display: inline-block;
        color: #ffffff;
        height: 24px;
        text-align: center;
        margin-top: 20px;
        line-height: 24px;
        &:hover{
            background-color: #e82440;
        }
    }
}
.title-howto{
    padding-left: 120px;
    padding-top: 20px;
    text-align: left;
}
.fb_iframe_widget {

    top: -6px;
}

/**********************************************************************************/
@media (max-width: 768px) {
   .container{
    padding : 0 20px;
   }
   .blog-top .blog-recent{
    padding :20px;
   }
   .blog-top .blog-recent li {

    padding-right: 10px;
    .title{
        font-size: 14px;
    }

   }
   .blog-top .con-warp .caption span {
        margin-right: 0;
        display: block;
        text-align: center;
    }
    .blog-top .con-warp .caption {
        padding :10px;
    }
    .blog-top .blog-con {
        padding :10px;
        border:none;
    }
    .blog-list-feature {
        height: auto;

        .image-feature {
            margin-right: 0;
            height: auto;
            img{

                width: 100%;
                height: auto;
            }
        }
        .content-feature {
            height: auto;
            margin-left: 0;
            padding:20px 10px;
            h1{
                text-align: center;
                font-size: 18px;
            }
            .exc
            {
                height: auto;
                margin-bottom: 100px;
                
                font-size: 14px;
            }
            .bar{
                margin-bottom: 50px;
                .bar_left,.bar_right{
                    display: block;
                    width: 100%;
                }

            }

        }

        
    }
    .blog-relate3-item .content-hover {
        padding:20px;
        h1{
            height: 120px;
        }
    }
    .cat-list{
        margin-bottom: 20px;
    }
}
/**********************************************************************************/
@media (max-width: 460px) {
   .container{
    padding : 0 5px;
   }
   #logo {
    
    width: 70px;
    height: 45px;
    background-size: cover;
    }
    #nav {
        position: relative;
        z-index: 2;
        overflow: visible;
        height: auto;
        line-height: 45px;
        li{
            float: none;
            background:#DA1733;
        }
        .menu{
            display: none;
        }
        .menu-mobile{
            display: block;

        }
        .menu.active{
            display: block;
        }
    }

    .information{

        font-size: 12px;
        strong{
            width: 90px;
        }
    }
    .content .content-nav
    {
        margin-bottom: 60px;
    }
    .content .content-nav .content-nav-menu {
        font-size: 12px;
        float: none !important;
        display: block;
        margin: 0 -5px;
        line-height: 30px;
        text-align: center;
        background:#cccccc;
        
    }
    .content .content-nav .content-nav-menu li{
        float: none;
        display: inline-block;
    }
    .content .content-nav .content-nav-title {
        display: block;
        text-align: center
    }
    .content p {
        font-family: sans-serif;
        letter-spacing: 0;
        
        img{

            margin: 20px 0;
        }
        strong{
            font-family: sans-serif;
        }
    }
    .blog-relate3 {
        margin: 0;
    }
    .blog-list-feature {
 
        margin: 0px 0 30px;
    }

    .content .content-news .content-news-right {
        border-left: none;
        padding:0;
    }
    .content .content-news .content-news-right h1.text-title {
        font-size: 18px;
    }
    .content .content-news {
        padding :50px 0px;
    }
    .content .content-news .content-news-left {
        margin: 0;
    }
    


}
