@import "_reset.scss";
@import "_layout.scss";
@import "_color.scss";
@import "_fontface.scss";
@import "_function.scss";
@import "_button.scss";
@import "_icon.scss";
@import "_ie.scss";

strong {
    font-family: univers-bold,helvethaica;
}
body{
    font-family: univers,helvethaica;
    
}

hr{
   border: solid #dedede; 
    border-width: 1px 0 0; 
    clear: both; 
    margin: 30px -5px 29px -5px; 
    height: 0;
}
.header-bar {

    height: 25px;
    background-color: #525d67;
    color: #ffffff;
}

.search-field {
    float: left;
    width: 200px !important;
    background-color: #8b9299 !important;
    height: 25px;
    border: none !important;
    color: #ffffff;
    padding: 2px 5px !important;
    font-size: 12px;
    display: inline-block;
    }

.btn-s {
    font-size: 110%;
    height: 25px;
    width: 35px;
    background: #c3142d;
    border: none !important;
    color: #ffffff;
    display: inline-block;
}

.head-tools {
   
    float: right;
}

.sw-lang {
    margin-left: 5px;
    float: right;
    padding-top: 2px;
}

.btn-lang {
   display: inline-block;
    height: 20px;
    width: 24px;
    font-size: 9.58px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;

    &.active{
        border: 1px solid #ffffff;
        
    }
    
}

#logo {
    float: left;
    background: url(images/logo-lux-royal.png);
    width: 116px;
    height: 74px;
}

.time-info {
    font-size: 11px;
    text-align: right;
    margin-bottom: 0px !important;
}

.information {
    float: right;
    display: inline-block;
    color: #525d67;
    font-size: 1.2em;
    strong{
        margin: 0 5px;
        display: inline-block;
        width: 125px;
        &:after{
            content: ":";
            float: right;
        }
    }
    p{
        margin-bottom: 5px;
    }
    
    span {
        float: right;
        img{
            text-align: right;
                height: 15px;
                margin-left: 5px;
            }
    }
}

.head-con {
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
}

#nav {
    height: 53px;
    background-color: #c3142d;
    color: #ffffff;
    li{
        float: left;
        height: 53px;
        padding: 0 20px;
        &.active , &:hover{
            background-color: #3b4a58;
        }
        a{
            font-size: 14px;
            line-height: 53px;
            color: #ffffff;
        }
    }
    
}

.thumb-recomend {
    overflow: hidden;
    height: 166px;
    margin-bottom: 10px;
    img{
        width: 100%;
        height: auto;
    }
}

.detail-recomend {
    position: relative;
    border-left: 4px solid #c2132c;
    height:60px;
    padding: 10px 0px 10px 10px;

    .detail-recomend-title{
        font-size: 1.3em;
        color: #473921;
    }
    .detail-recomend-dtl{
        font-size: 0.7em;
    }
}

.detail-recomend-more {
    position: absolute;
    right: 0;
    top:15px;
}

.thumb-news {
    overflow: hidden;
    max-height:370px;
    position: relative;
    img{
        width: 100%;
        height: auto;
    }
    .over-title{
        z-index: 2;
        position: absolute;
        height: 85px;
        width:100%;
        bottom: 0;
        left:0;
        padding: 20px;
        .thumb-news-title{
            font-size: 1.2em;
            color: #ffffff;
            margin-bottom: 10px;
        }
        .thumb-news-dtl{
            font-size: 1em;
            color: #ffffff;
        }
    }
    .bg-bl{
        position: absolute;
        opacity: 0.9;
        background:rgba(43, 55, 64, 0.85);
        osition: absolute;
        height: 85px;
        width:100%;
        bottom: 0;
        left:0;
    }
    .bg-rd{
        position: absolute;
        opacity: 0.9;
        background-color: rgba(196, 9, 42, 0.85);
        osition: absolute;
        height: 85px;
        width:100%;
        bottom: 0;
        left:0;
    }
}

.home-news {
    margin-top: 10px;
    
}

.home-news-top {
    margin-bottom: 20px;
    h2{
        color: #1a2b39;

    }
}

.listnews {
    margin : 0 -15px;
    li{
        margin-bottom:15px;
    }
}

#footer {
    background: #f8f8f8;
    color: #5c646d;
    padding-top: 20px;
    ul ul{
        margin-top: 10px;
    }
    li a{
        color: #5c646d;
        font-size: 0.8em;
    }
}

.foot-contact-us {
    margin-top: 10px;
    font-size: 0.7em;
    font-weight: bold;
    span{
        display: inline-block;
        line-height: 1.5em;
        margin-bottom:5px;
    }
    
}

.fol {
    margin-top: 10px;
    span{
        width: 100%;
       
        font-size: 1.3em;
        text-align: left;
    }
    hr{
        margin: 5px 0px;
    }
    
}

.foot-sitemap {
    display: inline-block;
    height: 21px;
    width: 77px;
    line-height: 21px;
    border: 1px solid #28343f;
    text-align: center;
    margin-bottom: 10px;
}

.foot2 {
    margin-top: -60px;
    font-size: 0.7em;
    p{
        float: left;
        color: #717b85;
    }
    img{
        float: right;
    }
}

.footer-end {
    background: #c3142d;
    color: #ffffff;
    text-align: center;
    height: 36px;
    line-height: 36px;
    font-size: 0.8em;
}

.breadcrumb {
    background: #f8f8f8;
    height: 84px;
    color: #3b4a58;
    line-height: 84px;

    .product-title{
        float: left;
        display: inline-block;
    }
    .product-breadcrumb{
        display: inline-block;
        float: right;
        li{
            float: left;
            &:before{
                content: "/";
                float: right;
                margin:0 10px;
            }
        }
    }
}

.product-desc {
    font-size: 1.2em;
    line-height: 1.6em;
    padding: 20px 0;
    h1.product-name{
        color: #b8142b;
        font-size: 1.5em;
        border-bottom: 2px solid #cccccc;
        margin-bottom: 20px;
    }
    h2.product-name{
        color: #3b4a58;
        font-weight: bold;
        font-size: 1.4em;
        border-bottom: 2px solid #cccccc;
    }
}

.product-images {
    
    border: 1px solid #cccccc;
    margin-left: -10px;

    text-align: center;
    padding: 20px;
    
    .product-image-feature {
        
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .product-image-list{
        margin-top: 20px;
        position: relative;
        li{
            height: 65px;
            margin: 0 10px;
        }
    }
}
.product-content{
    .short-desc {
        padding: 10px 0;
        border-bottom: 1px solid #cccccc;
    }


    .model {
        padding: 10px 0;
        border-bottom: 1px solid #cccccc;
        font-size: 1.3em;
        color: #4b4b4b;
    }
    .desc-content{
        margin-top: 20px;
        background-color: rgba(240, 240, 240, 0.83);
        padding: 40px 20px;
        color: #353535;
        line-height: 1.5em;
        margin-bottom: 20px;
        
        p.title{
            font-size: 1.3em;
            color: #353535;
            margin-bottom: 20px;
            
        }
    }

}
.request-demo-btn {
    display: inline-block;
    height: 60px;
    width: 225px;
    background-color: #ae0c2a;
    line-height: 60px;
    font-size: 1.2em;
    color: #ffffff;
    text-align: center;
    width: 225px;
    
 
    img{
        margin-top: 5px;
        margin-right: 10px;
        vertical-align: middle;
    }
}
.request-service-btn {
    display: inline-block;
    height: 60px;
    width: 225px;
    background-color: #525d67;
    line-height: 60px;
    font-size: 1.2em;
    color: #ffffff;
    text-align: center;
    width: 225px;
    float: right;
    img{
        margin-top: 5px;
        margin-right: 10px;
        vertical-align: middle;
    }
}

.product-heightlight {
    margin-top: 20px;
    .title{
        margin-top: 20px;
        font-size: 1.6em;
        line-height: normal;
        margin-bottom: 10px;
        color: #525d67;
    }
    .content{
        color: #353535;
        font-size: 1.1em;
        line-height: 1.5em;
    }
}

.hl-right {
    margin-left: 20px;
}
.hl-left {
    margin-right: 20px;
}

.product-water {
    background-color: #f9f9f9;
    padding: 30px;
    border: 1px solid #b4b4b4;
    margin: 60px 0;
    .title{
        color: #ae0c2a;
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    ul{
        margin-top: 20px;
    }
    li{
        padding: 10px 0px;
        .water-img{
                height: 95px;
                vertical-align: top;
                display: inline-block;
            
            }
        .water-content{
            padding-left: 20px;
                padding-top: 20px;
                line-heig2t: 25px;
                display: inline-block;
                color: #525d67;

            }
    }
}

.product-content-full {
    strong{
        color: #525d67;
        font-size: 1.4em;
    }
    p{
        margin-bottom: 20px;
        color: #353535 ;
    }
}
