/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover {
  text-decoration: none;
  color: inherit; }

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400; }

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: normal; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 15px; }

strong {
  font-weight: bold; }

i {
  font-style: italic; }

quote {
  display: block;
  padding: 20px;
  padding-left: 25px;
  border-left: 3px solid #eaeaea;
  margin: 35px 0;
  line-height: 160%; }

.center {
  text-align: center; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0; }

/* RESET FLEXSLIDER */
.flexslider {
  margin: 0;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none; }

.col-1 {
  width: 8.33333% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-2 {
  width: 16.66667% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-3 {
  width: 25% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-4 {
  width: 33.33333% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-5 {
  width: 41.66667% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-6 {
  width: 50% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-7 {
  width: 58.33333% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-8 {
  width: 66.66667% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-9 {
  width: 75% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-10 {
  width: 83.33333% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-11 {
  width: 91.66667% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-12 {
  width: 100% !important;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 0 10px; }

.col-offset-1 {
  margin-left: 8.33333% !important;
  padding: 0 10px; }

.col-offset-2 {
  margin-left: 16.66667% !important;
  padding: 0 10px; }

.col-offset-3 {
  margin-left: 25% !important;
  padding: 0 10px; }

.col-offset-4 {
  margin-left: 33.33333% !important;
  padding: 0 10px; }

.col-offset-5 {
  margin-left: 41.66667% !important;
  padding: 0 10px; }

.col-offset-6 {
  margin-left: 50% !important;
  padding: 0 10px; }

.col-offset-7 {
  margin-left: 58.33333% !important;
  padding: 0 10px; }

.col-offset-8 {
  margin-left: 66.66667% !important;
  padding: 0 10px; }

.col-offset-9 {
  margin-left: 75% !important;
  padding: 0 10px; }

.col-offset-10 {
  margin-left: 83.33333% !important;
  padding: 0 10px; }

.col-offset-11 {
  margin-left: 91.66667% !important;
  padding: 0 10px; }

.col-offset-12 {
  margin-left: 100% !important;
  padding: 0 10px; }

[class^="col-"] {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto; }

.row {
  display: block;
  clear: both;
  margin: 0 -15px; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

input[type='text'],
input[type='password'],
input[type='email'] {
  display: block;
  width: 100%;
  background: #ffffff;
  border: 1px solid #cccccc;
  padding: 8px;
  margin: 0;
  font-size: 13px;
  position: relative; }

textarea {
  display: block;
  width: 100%;
  background: #ffffff;
  border: 1px solid #cccccc;
  padding: 8px;
  margin: 0;
  font-size: 13px;
  position: relative; }

.inline {
  display: inline-block; }

.no-background {
  background: none !important; }

.no-margin {
  margin: 0 !important; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.left {
  text-align: left !important; }

.right {
  text-align: right !important; }

.center {
  text-align: center !important; }

.tab {
  display: none; }

.tab.active {
  display: block; }

@media (max-width: 768px) {
  .col-sm-1 {
    width: 8.33333% !important; }

  .col-sm-2 {
    width: 16.66667% !important; }

  .col-sm-3 {
    width: 25% !important; }

  .col-sm-4 {
    width: 33.33333% !important; }

  .col-sm-5 {
    width: 41.66667% !important; }

  .col-sm-6 {
    width: 50% !important; }

  .col-sm-7 {
    width: 58.33333% !important; }

  .col-sm-8 {
    width: 66.66667% !important; }

  .col-sm-9 {
    width: 75% !important; }

  .col-sm-10 {
    width: 83.33333% !important; }

  .col-sm-11 {
    width: 91.66667% !important; }

  .col-sm-12 {
    width: 100% !important; }

  .hide-mobile {
    display: none !important; } }
@media (max-width: 460px) {
  .col-xs-1 {
    width: 8.33333% !important; }

  .col-xs-2 {
    width: 16.66667% !important; }

  .col-xs-3 {
    width: 25% !important; }

  .col-xs-4 {
    width: 33.33333% !important; }

  .col-xs-5 {
    width: 41.66667% !important; }

  .col-xs-6 {
    width: 50% !important; }

  .col-xs-7 {
    width: 58.33333% !important; }

  .col-xs-8 {
    width: 66.66667% !important; }

  .col-xs-9 {
    width: 75% !important; }

  .col-xs-10 {
    width: 83.33333% !important; }

  .col-xs-11 {
    width: 91.66667% !important; }

  .col-xs-12 {
    width: 100% !important; }

  .hide-mobile {
    display: none !important; } }
.hi {
  color: #c3142d; }

.yellow {
  color: #ffba39; }

.dyellow {
  color: #f6921f; }

.text-title {
  color: #3b4a58; }

@font-face {
  font-family: 'helvethaica';
  src: url("helvethaica/dbhelvethaicamonx.eot");
  /* IE9 Compat Modes */
  src: url("helvethaica/dbhelvethaicamonx.eot?#iefix") format("embedded-opentype"), url("helvethaica/dbhelvethaicamonx.svg#helvethaica") format("svg"), url("helvethaica/dbhelvethaicamonx.woff") format("woff"), url("helvethaica/dbhelvethaicamonx.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'helvethaica-bold';
  src: url("helvethaica/dbhelvethaicamonx-bold.eot");
  /* IE9 Compat Modes */
  src: url("helvethaica/dbhelvethaicamonx-bold.eot?#iefix") format("embedded-opentype"), url("helvethaica/dbhelvethaicamonx-bold.svg#helvethaica") format("svg"), url("helvethaica/dbhelvethaicamonx-bold.woff") format("woff"), url("helvethaica/dbhelvethaicamonx-bold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'univers-bold';
  src: url("univers/univers-Bold.eot");
  /* IE9 Compat Modes */
  src: url("univers/univers-Bold.eot?#iefix") format("embedded-opentype"), url("univers/univers-Bold.svg#univers") format("svg"), url("univers/univers-Bold.woff") format("woff"), url("univers/univers-Bold.otf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'univers';
  src: url("univers/univers.eot");
  /* IE9 Compat Modes */
  src: url("univers/univers.eot?#iefix") format("embedded-opentype"), url("univers/univers.svg#univers") format("svg"), url("univers/univers.woff") format("woff"), url("univers/univers.otf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal; }
.ubtn {
  border: 0;
  font-size: 15px;
  line-height: 30px;
  padding: 0 20px;
  text-align: center;
  min-width: 100px;
  color: #ffffff;
  background: #aaaaaa;
  display: inline-block; }

.uicon {
  display: inline-block;
  background-position: top center !important;
  background-repeat: no-repeat !important; }

.uicon.user-click {
  background: url(../img/user_icon_click.png);
  width: 19px;
  height: 23px; }

.uicon.user-course-icon {
  background: url(../img/user_icon_course.png);
  width: 29px;
  height: 39px; }

.active .uicon.user-course-icon,
li:hover .uicon.user-course-icon {
  background: url(../img/user_icon_course_active.png); }

.uicon.user-static {
  width: 37px;
  height: 37px;
  background: url(../img/user_icon_static.png); }

.active .uicon.user-static,
li:hover .uicon.user-static {
  background: url(../img/user_icon_static_active.png); }

.uicon.user-setting {
  width: 38px;
  height: 38px;
  background: url(../img/user_icon_setting.png); }

.active .uicon.user-setting,
li:hover .uicon.user-setting {
  background: url(../img/user_icon_setting_active.png); }

.uicon.user-comition {
  width: 19px;
  height: 15px;
  background: url(../img/user_icon_cost.png); }

.uicon.user-graph {
  width: 18px;
  height: 17px;
  background: url(../img/user_icon_salary.png); }

.uicon.user-student {
  width: 28px;
  height: 16px;
  background: url(../img/user_icon_membertype.png); }

.uicon.user-download-date {
  width: 17px;
  height: 16px;
  background: url(../img/user_icon_downloaddate.png); }

.uicon.tutor-course-header {
  width: 34px;
  height: 35px;
  background: url(../img/tutor_course_icon.png); }

.uicon.tutor-course {
  width: 36px;
  height: 48px;
  background: url(../img/tutor_book_icon.png); }

.uicon.tutor-video-icon {
  width: 25px;
  height: 17px;
  background: url(../img/tutor_video_icon.png); }

.uicon.tutor-blog-header {
  width: 25px;
  height: 32px;
  background: url(../img/tutor_blog_icon.png); }

.uicon.tutor-blog {
  width: 36px;
  height: 36px;
  background: url(../img/tutor_blog_icon2.png); }

.uicon.course-main-icon {
  width: 42px;
  height: 49px;
  background: url(../img/course_header_icon.png); }

.uicon.learn-author-icon {
  width: 23px;
  height: 23px;
  background: url(../img/learn_author_icon.png); }

.uicon.learn-video-count-icon {
  width: 23px;
  height: 23px;
  background: url(../img/learn_video_icon.png); }

.uicon.static-calendar {
  width: 27px;
  height: 26px;
  background: url(../img/static_calendar.png); }

.uicon.static-circle-graph {
  width: 26px;
  height: 25px;
  background: url(../img/static_circle_graph.png); }

.uicon.static-get-link-icon {
  width: 29px;
  height: 29px;
  background: url(../img/static_getlink.png); }

img {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
  /* IE6 & 7 */
  zoom: 1; }

strong {
  font-family: univers-bold,helvethaica; }

body {
  font-family: univers,helvethaica; }

hr {
  border: solid #dedede;
  border-width: 1px 0 0;
  clear: both;
  margin: 30px 0;
  height: 0; }

.header-bar {
  height: 25px;
  background-color: #525d67;
  color: #ffffff; }

.search-field {
  float: left;
  width: 170px !important;
  background-color: #8b9299 !important;
  height: 25px;
  border: none !important;
  color: #ffffff;
  padding: 2px 5px !important;
  font-size: 12px;
  display: inline-block; }

.btn-s {
  font-size: 110%;
  height: 25px;
  width: 35px;
  background: #c3142d;
  border: none !important;
  color: #ffffff;
  display: inline-block; }

.head-tools {
  float: right; }

.sw-lang {
  margin-left: 5px;
  float: right;
  padding-top: 2px; }

.btn-lang {
  display: inline-block;
  height: 20px;
  width: 24px;
  font-size: 9.58px;
  text-align: center;
  line-height: 20px;
  cursor: pointer; }
  .btn-lang.active {
    border: 1px solid #ffffff; }

#logo {
  float: left;
  background: url(images/logo-lux-royal.png);
  width: 116px;
  height: 74px; }

.time-info {
  font-size: 11px;
  text-align: right;
  margin-bottom: 0px !important; }

.information {
  float: right;
  display: inline-block;
  color: #525d67;
  font-size: 1.2em; }
  .information strong {
    margin: 0 5px;
    display: inline-block;
    width: 125px; }
    .information strong:after {
      content: ":";
      float: right; }
  .information p {
    margin-bottom: 5px; }
  .information span {
    float: right; }
    .information span img {
      text-align: right;
      height: 15px;
      margin-left: 5px; }

.head-con {
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px; }

#nav {
  line-height: 53px;
  height: 53px;
  background-color: #c3142d;
  color: #ffffff; }
  #nav .menu-mobile {
    text-align: center;
    display: none;
    font-size: 13px; }
  #nav li {
    float: left;
    height: 53px;
    padding: 0 20px; }
    #nav li.active, #nav li:hover {
      background-color: #3b4a58; }
    #nav li a {
      font-size: 14px;
      color: #ffffff; }

.thumb-recomend {
  overflow: hidden;
  height: 166px;
  margin-bottom: 10px; }
  .thumb-recomend img {
    width: 100%;
    height: auto; }

.detail-recomend {
  position: relative;
  border-left: 4px solid #c2132c;
  height: 60px;
  padding: 10px 0px 10px 10px; }
  .detail-recomend .detail-recomend-title {
    font-size: 1.3em;
    color: #473921; }
  .detail-recomend .detail-recomend-dtl {
    font-size: 0.7em; }

.detail-recomend-more {
  position: absolute;
  right: 0;
  top: 15px; }

.thumb-news {
  overflow: hidden;
  max-height: 370px;
  position: relative; }
  .thumb-news img {
    width: 100%;
    height: auto; }
  .thumb-news .over-title {
    z-index: 2;
    position: absolute;
    height: 85px;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px; }
    .thumb-news .over-title .thumb-news-title {
      font-size: 1.2em;
      color: #ffffff;
      margin-bottom: 10px; }
    .thumb-news .over-title .thumb-news-dtl {
      font-size: 1em;
      color: #ffffff; }
  .thumb-news .bg-bl {
    position: absolute;
    opacity: 0.9;
    background: rgba(43, 55, 64, 0.85);
    osition: absolute;
    height: 85px;
    width: 100%;
    bottom: 0;
    left: 0; }
  .thumb-news .bg-rd {
    position: absolute;
    opacity: 0.9;
    background-color: rgba(196, 9, 42, 0.85);
    osition: absolute;
    height: 85px;
    width: 100%;
    bottom: 0;
    left: 0; }

.home-news {
  margin-top: 10px; }

.home-news-top {
  margin-bottom: 20px; }
  .home-news-top h2 {
    color: #1a2b39; }

.listnews {
  margin: 0 -15px; }
  .listnews li {
    margin-bottom: 15px; }

#footer {
  border-top: 1px solid #EAEAEA;
  background: #f8f8f8;
  color: #5c646d;
  padding-top: 20px; }
  #footer ul ul {
    margin-top: 10px; }
  #footer li a {
    color: #5c646d;
    font-size: 0.8em; }

.foot-contact-us {
  margin-top: 10px;
  font-size: 0.7em;
  font-weight: bold; }
  .foot-contact-us span {
    display: inline-block;
    line-height: 1.5em;
    margin-bottom: 5px; }

.fol {
  margin-top: 10px; }
  .fol span {
    width: 100%;
    font-size: 1.3em;
    text-align: left; }
  .fol hr {
    margin: 5px 0px; }

.foot-sitemap {
  display: inline-block;
  height: 21px;
  width: 77px;
  line-height: 21px;
  border: 1px solid #28343f;
  text-align: center;
  margin-bottom: 10px; }

.foot2 {
  margin-top: -60px;
  font-size: 0.7em; }
  .foot2 p {
    float: left;
    color: #717b85; }
  .foot2 img {
    float: right; }

.footer-end {
  background: #c3142d;
  color: #ffffff;
  text-align: center;
  height: 36px;
  line-height: 36px;
  font-size: 0.8em; }

.content {
  background: #f8f8f8;
  line-height: normal;
  color: #777777;
  font-size: 16px;
  padding-bottom: 30px; }
  .content p {
    letter-spacing: 0.6px;
    line-height: 160%; }
  .content img {
    max-width: 100%;
    height: auto; }
  .content .content-nav {
    border-bottom: 1px solid #eaeaea;
    height: 84px;
    margin-bottom: 30px; }
    .content .content-nav .content-nav-title {
      line-height: 84px;
      display: inline-block;
      font-size: 25px; }
    .content .content-nav .content-nav-menu {
      line-height: 84px;
      display: inline-block; }
      .content .content-nav .content-nav-menu li {
        float: left; }
        .content .content-nav .content-nav-menu li:first-child:after {
          content: "";
          margin: 0; }
        .content .content-nav .content-nav-menu li:after {
          content: "/";
          margin: 0 10px;
          float: left; }
        .content .content-nav .content-nav-menu li:hover {
          color: #4E4D4D; }
  .content .content-news {
    border: 1px solid #eaeaea;
    padding: 50px 25px;
    background: #ffffff; }
    .content .content-news .content-news-left {
      margin-right: -20px; }
      .content .content-news .content-news-left li {
        position: relative;
        border-bottom: 1px solid #c3142d;
        padding: 20px 0 20px 50px; }
        .content .content-news .content-news-left li img {
          left: 0;
          top: 25px;
          position: absolute; }
        .content .content-news .content-news-left li .text-title {
          font-size: 16px; }
    .content .content-news .content-news-right {
      border-left: 1px solid #c3142d;
      padding: 0 25px;
      min-height: 400px; }
      .content .content-news .content-news-right h1.text-title {
        font-size: 25px;
        margin-bottom: 20px; }
  .content .tag-list li {
    border: 1px solid #aaaaaa;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    margin-right: 10px;
    margin-bottom: 30px; }
    .content .tag-list li a {
      display: inline-block;
      padding: 0 15px; }
    .content .tag-list li:hover a {
      color: #c3142d; }
    .content .tag-list li:hover {
      border: 1px solid #c3142d; }
  .content .cat-blog {
    height: 50px;
    margin-bottom: 30px;
    line-height: 50px;
    font-size: 32px;
    color: #3b4a58;
    display: inline-block;
    margin-right: 20px;
    float: left; }
  .content .cat-list {
    display: inline-block;
    float: left; }
    .content .cat-list li {
      border: 1px solid #aaaaaa;
      height: 40px;
      line-height: 40px;
      text-align: center;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      color: #3b4a58; }
      .content .cat-list li a {
        display: inline-block;
        padding: 0 15px; }
      .content .cat-list li:hover a {
        color: #ffffff;
        background: #3b4a58; }
      .content .cat-list li.active {
        color: #ffffff;
        background: #3b4a58; }
  .content .news-list li {
    margin-bottom: 30px; }
    .content .news-list li .con-warp {
      height: 0;
      padding-bottom: 56%;
      position: relative;
      overflow: hidden; }
    .content .news-list li img {
      width: 100%;
      height: auto; }
    .content .news-list li .caption {
      cursor: pointer;
      color: #ffffff;
      position: absolute;
      padding: 20px 10px;
      bottom: 0;
      background: #333333;
      background: #030303;
      background: transparent\9;
      background: rgba(0, 0, 0, 0.6);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
      zoom: 1;
      width: 100%; }
      .content .news-list li .caption h2 {
        font-size: 25px;
        margin-bottom: 5px; }
      .content .news-list li .caption .dtl {
        transition: all 0.2s;
        margin-bottom: 10px;
        overflow: hidden;
        height: 0;
        opacity: 0; }
      .content .news-list li .caption:hover .dtl {
        opacity: 1;
        display: block;
        height: 105px; }
    .content .news-list li.xxx .con-warp {
      padding-bottom: 116%; }

.news-banner {
  background: url(images/bg-news.png) center center no-repeat;
  height: 245px;
  width: 100%; }

.blog-top .con-warp {
  margin-bottom: 30px;
  position: relative; }
  .blog-top .con-warp img {
    display: block;
    width: 100%;
    height: auto; }
  .blog-top .con-warp .caption {
    bottom: 0;
    width: 100%;
    background-color: #3b4a58;
    padding: 20px 30px;
    text-align: center;
    color: #ffffff; }
    .blog-top .con-warp .caption h1 {
      color: #e60c35;
      font-size: 22px;
      margin-bottom: 15px; }
    .blog-top .con-warp .caption p {
      margin-bottom: 15px; }
    .blog-top .con-warp .caption span {
      margin-right: 50px; }
      .blog-top .con-warp .caption span i {
        margin-right: 20px; }
.blog-top .blog-recent {
  background-color: #3b4a58;
  padding: 30px 10px; }
  .blog-top .blog-recent h1 {
    text-align: center;
    color: #f7274f;
    font-size: 16px;
    margin-bottom: 30px; }
  .blog-top .blog-recent li {
    font-size: 12px;
    position: relative;
    padding-left: 80px;
    color: #ffffff;
    margin-bottom: 51px; }
    .blog-top .blog-recent li img {
      left: 0;
      position: absolute; }
    .blog-top .blog-recent li .title {
      color: #e60c35; }
    .blog-top .blog-recent li i {
      margin-right: 10px; }
.blog-top .blog-con {
  border: 1px solid #dadada;
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 50px; }
  .blog-top .blog-con h1 {
    font-size: 18px;
    margin-bottom: 30px; }

.how-con {
  border: 1px solid #dadada;
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 30px 20px; }
  .how-con .how-img, .how-con .how-content {
    margin: 0px -10px; }
  .how-con .how-content {
    padding: 20px; }
  .how-con .text-title {
    font-size: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 20px;
    border-left: 5px solid #f7284f;
    padding-left: 20px; }
  .how-con img {
    display: block; }
  .how-con p {
    font-size: 13px; }

.blog-relate-title {
  font-size: 18px;
  margin-bottom: 30px; }

.blog-relate2-item {
  position: relative;
  max-height: 327px;
  overflow: hidden; }
  .blog-relate2-item img {
    width: 100%;
    height: auto; }
  .blog-relate2-item .caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 35px;
    overflow: hidden;
    font-size: 12px;
    padding: 0 10px;
    line-height: 35px;
    background-color: rgba(195, 20, 45, 0.8);
    color: #ffffff; }
  .blog-relate2-item .caption-bar {
    background: #3b4a58; }
    .blog-relate2-item .caption-bar span {
      display: inline-block;
      margin-right: 5px;
      text-align: center; }
      .blog-relate2-item .caption-bar span i {
        margin-right: 10px; }
    .blog-relate2-item .caption-bar span:last-child {
      float: right; }
    .blog-relate2-item .caption-bar .sc {
      color: #e60c35; }
    .blog-relate2-item .caption-bar .readmore {
      float: right; }
      .blog-relate2-item .caption-bar .readmore a {
        border: 1px solid #ffffff;
        padding: 5px 2px; }

.blog-relate3 {
  margin: 0 -10px; }

.blog-relate3-item {
  position: relative;
  height: 0;
  padding-bottom: 63.5%;
  overflow: hidden;
  background: #aaaaaa;
  margin-bottom: 30px; }
  .blog-relate3-item img {
    display: block;
    width: 100%;
    height: auto; }
  .blog-relate3-item .div-hover {
    opacity: 0;
    transition: all 0.2s; }
  .blog-relate3-item:hover .div-hover {
    opacity: 1; }
  .blog-relate3-item .content-hover {
    background: rgba(195, 20, 45, 0.8);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100%;
    text-align: center;
    padding: 40px 60px;
    color: #ffffff; }
    .blog-relate3-item .content-hover h1 {
      font-size: 18px;
      margin-bottom: 10px;
      height: 180px;
      overflow: hidden; }
    .blog-relate3-item .content-hover .date {
      margin-bottom: 30px; }
    .blog-relate3-item .content-hover .con {
      text-align: left;
      height: 110px;
      overflow: hidden; }
  .blog-relate3-item .caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 46px;
    overflow: hidden;
    font-size: 14px;
    padding: 0 10px;
    line-height: 46px;
    background-color: rgba(195, 20, 45, 0.8);
    color: #ffffff; }
  .blog-relate3-item .caption-bar {
    background: #3b4a58;
    font-size: 14px; }
    .blog-relate3-item .caption-bar span {
      text-align: left;
      display: inline-block;
      width: 70%; }
      .blog-relate3-item .caption-bar span i {
        margin-right: 10px; }
    .blog-relate3-item .caption-bar a.readmore {
      background: #3B4A58;
      font-size: 12px;
      position: absolute;
      right: 10px;
      bottom: 10px;
      height: 25px;
      line-height: 25px;
      border: 1px solid #ffffff;
      padding: 0 3px; }

.blog-list-feature {
  height: 560px;
  margin: 0 -10px;
  margin-bottom: 30px; }
  .blog-list-feature .image-feature {
    background: #000000;
    height: 560px;
    margin-right: -10px;
    overflow: hidden; }
    .blog-list-feature .image-feature img {
      height: 560px;
      max-width: none; }
  .blog-list-feature .content-feature {
    margin-left: -10px;
    background-color: #313f4b;
    padding: 70px 50px;
    font-size: 16px;
    color: #ffffff;
    height: 560px;
    position: relative; }
    .blog-list-feature .content-feature .exc {
      overflow: hidden;
      height: 300px; }
    .blog-list-feature .content-feature .bar {
      position: absolute;
      height: 44px;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center; }
      .blog-list-feature .content-feature .bar .bar_left {
        display: inline-block;
        background: #c3142d;
        width: 35%;
        float: left;
        height: inherit;
        line-height: 44px;
        padding: 0 20px; }
      .blog-list-feature .content-feature .bar .bar_right {
        float: left;
        display: inline-block;
        background: #272d37;
        width: 65%;
        height: inherit;
        padding: 0 20px;
        line-height: 44px; }
    .blog-list-feature .content-feature h1 {
      font-size: 26px;
      color: #fd2424;
      margin-bottom: 30px; }

.pd .ti {
  border-bottom: 1px solid #dedede;
  margin-bottom: 10px;
  padding-bottom: 10px; }
.pd .pdt {
  font-size: 26px;
  color: #b8142b; }
.pd .desc {
  background: #f3f3f3;
  padding: 70px 50px;
  margin-bottom: 30px; }
  .pd .desc h3 {
    margin-bottom: 30px; }
.pd .btn-pd-demo {
  width: 225px;
  height: 60px;
  display: inline-block;
  background: url("images/btn-pd-demo.jpg"); }
.pd .btn-pd-contact {
  float: right;
  width: 225px;
  height: 60px;
  display: inline-block;
  background: url("images/btn-pd-contact.jpg"); }
.pd .tab {
  margin: 30px 0 50px 0;
  display: block;
  border-bottom: 2px solid #55626e;
  height: 44px; }
  .pd .tab li {
    float: left;
    margin-right: 10px;
    background: #f0f0f0; }
    .pd .tab li:hover {
      background: #e7e7e7; }
    .pd .tab li.active {
      color: #ffffff;
      background: #a00c1a; }
    .pd .tab li a {
      display: inline-block;
      line-height: 42px;
      padding: 0 20px; }
.pd .tab-content {
  list-style: none; }
  .pd .tab-content .text-title {
    margin-bottom: 20px; }
  .pd .tab-content .con-warp {
    margin: 0 -10px; }
    .pd .tab-content .con-warp p {
      padding: 0 20px; }
    .pd .tab-content .con-warp h3 {
      padding: 20px 20px 0 20px; }
    .pd .tab-content .con-warp img {
      display: block; }
  .pd .tab-content .pdwater {
    margin-top: 30px;
    background: #f9f9f9;
    padding: 50px 30px;
    border: 1px solid #e5e5e5;
    margin-bottom: 30px; }
    .pd .tab-content .pdwater .pdwater-head {
      color: #ae0c2a;
      font-size: 24px; }
    .pd .tab-content .pdwater .pdwater-list {
      margin-top: 50px; }
      .pd .tab-content .pdwater .pdwater-list li {
        float: left;
        position: relative;
        padding-left: 150px;
        padding-top: 20px;
        margin-bottom: 60px; }
      .pd .tab-content .pdwater .pdwater-list img {
        top: 0;
        left: 0;
        position: absolute; }
.pd .content-detail h1, .pd .content-detail h2, .pd .content-detail h3, .pd .content-detail h4, .pd .content-detail h5, .pd .content-detail h6, .pd .content-detail h7 {
  color: #525d67;
  margin-bottom: 10px; }

.faq-banner {
  height: 245px;
  width: 100%;
  background: url(images/faq-banner.png) center center no-repeat; }

.manual-banner {
  height: 245px;
  width: 100%;
  background: url(images/manual-banner.png) center center no-repeat; }

.howto-banner {
  height: 245px;
  width: 100%;
  background: url(images/howto-banner.png) center center no-repeat; }

.faq-list {
  list-style-image: url(images/faq-list.png); }
  .faq-list li {
    padding-left: 20px;
    color: #3b4a58;
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid #e8e8e8; }
    .faq-list li a {
      width: 100%;
      display: inline-block; }
  .faq-list .list-well {
    margin-top: 20px;
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    display: none; }
    .faq-list .list-well.active {
      display: block; }
  .faq-list .num-list {
    display: inline-block;
    background-color: #525d67;
    height: 28px;
    width: 28px;
    line-height: 28px;
    color: #ffffff;
    text-align: center;
    margin-right: 20px; }
    .faq-list .num-list.active {
      background: #c3142d; }
  .faq-list .q {
    color: #ff0000; }

.cus-menu {
  margin-top: -1px;
  background-color: #eaeef1;
  height: 59px; }
  .cus-menu ul {
    height: 59px; }
  .cus-menu li {
    float: left;
    text-align: center;
    height: 59px;
    line-height: 59px; }
    .cus-menu li i {
      margin-left: 10px;
      display: none; }
    .cus-menu li.active {
      background-color: #525d67;
      color: #ffffff; }
      .cus-menu li.active i {
        display: inline-block; }
    .cus-menu li:hover {
      background-color: #525d67;
      color: #ffffff; }
    .cus-menu li a {
      display: inline-block;
      height: 59px;
      width: 100%; }

.manual-list {
  margin: 0 -15px; }
  .manual-list li .well-content {
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
    background: #f9f9f9;
    height: 185px;
    font-size: 13px; }
  .manual-list li .well-left {
    float: left;
    width: 65%;
    padding: 30px;
    height: 185px; }
    .manual-list li .well-left .text-title {
      margin-bottom: 10px; }
    .manual-list li .well-left .text-detail {
      width: 264px;
      height: 78px;
      overflow: hidden; }
  .manual-list li .well-right {
    position: relative;
    float: left;
    width: 35%;
    padding: 50px 10px 0 60px;
    height: 183px;
    background: #ffffff;
    font-size: 11px; }
    .manual-list li .well-right img {
      position: absolute;
      left: 15px;
      top: 50px; }
    .manual-list li .well-right .info, .manual-list li .well-right .filesize {
      color: #c3142d; }
    .manual-list li .well-right .btn-download {
      width: 111px;
      height: 24px;
      background-color: #c3142d;
      color: #ffffff;
      display: inline-block;
      line-height: 24px;
      text-align: center;
      margin-top: 30px;
      margin-left: -25px; }

.content-manual {
  background: #ffffff; }

.h-content {
  height: 185px;
  position: relative;
  padding: 15px 15px 15px  180px;
  color: #747474;
  margin-bottom: 20px;
  background-color: #fcfcfc;
  border: 1px solid #e8e8e8; }
  .h-content .text-title {
    margin-bottom: 10px; }
  .h-content img {
    position: absolute;
    top: 0;
    left: 0; }
  .h-content .btn-view {
    background-color: #c3142d;
    width: 111px;
    display: inline-block;
    color: #ffffff;
    height: 24px;
    text-align: center;
    margin-top: 20px;
    line-height: 24px; }
    .h-content .btn-view:hover {
      background-color: #e82440; }

.title-howto {
  padding-left: 120px;
  padding-top: 20px;
  text-align: left; }

.fb_iframe_widget {
  top: -6px; }

/**********************************************************************************/
@media (max-width: 768px) {
  .container {
    padding: 0 20px; }

  .blog-top .blog-recent {
    padding: 20px; }

  .blog-top .blog-recent li {
    padding-right: 10px; }
    .blog-top .blog-recent li .title {
      font-size: 14px; } }
/**********************************************************************************/
@media (max-width: 460px) {
  .container {
    padding: 0 5px; }

  #logo {
    width: 70px;
    height: 45px;
    background-size: cover; }

  #nav {
    position: relative;
    z-index: 2;
    overflow: visible;
    height: auto;
    line-height: 45px; }
    #nav li {
      float: none;
      background: #DA1733; }
    #nav .menu {
      display: none; }
    #nav .menu-mobile {
      display: block; }
    #nav .menu.active {
      display: block; }

  .information {
    font-size: 12px; }
    .information strong {
      width: 90px; }

  .content .content-nav .content-nav-menu {
    font-size: 12px;
    float: none !important;
    display: block;
    padding: 0 20px; }

  .content .content-nav .content-nav-title {
    display: block;
    text-align: center; }

  .blog-top .con-warp .caption span {
    margin-right: 0;
    display: block;
    text-align: center; }

  .blog-top .con-warp .caption {
    padding: 10px; }

  .blog-top .blog-con {
    padding: 10px;
    border: none; }

  .blog-list-feature {
    height: auto; }
    .blog-list-feature .image-feature {
      margin-right: 0;
      height: auto; }
      .blog-list-feature .image-feature img {
        width: 100%;
        height: auto; }
    .blog-list-feature .content-feature {
      height: auto;
      margin-left: 0;
      padding: 20px 10px; }
      .blog-list-feature .content-feature h1 {
        text-align: center;
        font-size: 18px; }
      .blog-list-feature .content-feature .exc {
        height: auto;
        margin-bottom: 100px;
        font-size: 14px; }
      .blog-list-feature .content-feature .bar {
        margin-bottom: 50px; }
        .blog-list-feature .content-feature .bar .bar_left, .blog-list-feature .content-feature .bar .bar_right {
          display: block;
          width: 100%; }

  .blog-relate3-item .content-hover {
    padding: 20px; }
    .blog-relate3-item .content-hover h1 {
      height: 120px; }

  .cat-list {
    margin-bottom: 20px; } }

/*# sourceMappingURL=main.css.map */
