@mixin opacity($o) {
 		/* IE 8 */
 	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$o)";
 	
 	  /* IE 5-7 */
 	  filter: alpha(opacity=$o);
 	
 	  /* Safari 1.x */
 	  -khtml-opacity: $o/100;
 	
 	  /* Good browsers */
 	  opacity: $o/100;
 	
}

